{% set pageUrl = page
  .url
  .split('/')
  .slice(2)
  .join('/') %}

<nav x-data="{ open: false }" @keydown.window.escape="open = false" @click.away=" open = false " class="z-10 bg-white shadow-sm">
  <div class="max-w-4xl px-4 mx-auto sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center">
        <div class="flex-shrink-0 ">
          <a href="/{{locale}}" class="text-lg font-bold text-red-600 transition-all duration-150 ease-in-out hover:text-red-700 focus:text-red-800">Felipe Moyano</a>
        </div>
      </div>

      <div class="flex">
        <div class="hidden md:block">
          <div class="flex items-baseline justify-end ml-10 space-x-4">

            <a href="/{{ locale }}" class="px-3 py-2 mt-2 text-sm font-medium leading-5 text-gray-700 duration-150 ease-in-out border-b-4 border-transparent hover:border-b-4 hover:border-red-600 focus:outline-none focus:border-red-600 tansition">{{"nav.home" | i18n}}</a>

            <a href="/{{ locale }}/articles" class="px-3 py-2 mt-2 text-sm font-medium leading-5 text-gray-700 duration-150 ease-in-out border-b-4 border-transparent hover:border-b-4 hover:border-red-600 focus:outline-none focus:border-red-600 tansition">{{"nav.articles" | i18n}}</a>

            <a href="/{{ locale }}/projects" class="px-3 py-2 mt-2 text-sm font-medium leading-5 text-gray-700 duration-150 ease-in-out border-b-4 border-transparent hover:border-b-4 hover:border-red-600 focus:outline-none focus:border-red-600 tansition">{{"nav.projects" | i18n}}</a>

            <a href="/{{ locale }}/about" class="px-3 py-2 mt-2 text-sm font-medium leading-5 text-gray-700 duration-150 ease-in-out border-b-4 border-transparent hover:border-b-4 hover:border-red-600 focus:outline-none focus:border-red-600 tansition">{{"nav.about" | i18n}}</a>

            <div class="relative" x-data="{ open: false}" @mouseenter="open = true" @mouseleave=" open = false" @click.away="open = false">
              <button class="px-3 py-2 mt-2 text-sm font-medium leading-5 text-gray-700 duration-150 ease-in-out border-b-4 border-transparent hover:border-b-4 focus:outline-none tansition">
                <img class="w-4 h-4" src="/assets/img/{{icon}}" alt="">
              </svg>
            </button>
            <div x-show="open" class="absolute right-0 z-10 w-48 rounded-md shadow-lg" x-transition:enter="transition ease-out duration-100" x-transition:enter-start="transform opacity-0 scale-95" x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-75" x-transition:leave-start="transform opacity-100 scale-100" x-transition:leave-end="transform opacity-0 scale-95">
              <div class="py-1 bg-white rounded-md shadow-xs">
                {% for locale in locales -%}
                  <a class="flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" href="/{{ locale.code }}/{{ pageUrl }}" rel="alternate" hreflang="{{ locale.code }}">
                    <img class="w-4 h-4" src="/assets/img/{{locale.icon}}" alt="">
                    <span class="ml-2">{{ locale.label | capitalize }}</span>
                  </a>
                {% endfor -%}
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Mobile menu button -->
      <div class="-mr-2 md:hidden">
        <button @click="open = !open" class="inline-flex items-center justify-center p-2 text-red-400 rounded-md hover:text-white hover:bg-red-700 focus:outline-none focus:bg-red-700 focus:text-white">
          <!-- Menu open: "hidden", Menu closed: "block" -->
          <svg class="block w-6 h-6" stroke="currentColor" fill="none" viewbox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
          </svg>
          <!-- Menu open: "block", Menu closed: "hidden" -->
          <svg class="hidden w-6 h-6" stroke="currentColor" fill="none" viewbox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Mobile menu, toggle classes based on menu state. Open: "block", closed: "hidden" -->
  <div :class="{'block': open, 'hidden': !open}" class="hidden md:hidden">
    <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
      <a href="/{{ locale }}" class="block px-3 py-2 text-base font-medium text-white bg-red-800 rounded-md focus:outline-none focus:text-white focus:bg-red-700 hover:text-white">{{"nav.home" | i18n}}</a>

      <a href="/{{ locale }}/articles" class="block px-3 py-2 text-base font-medium text-red-600 rounded-md hover:text-white hover:bg-red-600 focus:outline-none focus:text-white focus:bg-red-700">{{"nav.articles" | i18n}}</a>

      <a href="/{{ locale }}/projects" class="block px-3 py-2 text-base font-medium text-red-600 rounded-md hover:text-white hover:bg-red-600 focus:outline-none focus:text-white focus:bg-red-700">{{"nav.projects" | i18n}}</a>

      <a href="/{{ locale }}/about" class="block px-3 py-2 text-base font-medium text-red-600 rounded-md hover:text-white hover:bg-red-600 focus:outline-none focus:text-white focus:bg-red-700">{{"nav.about" | i18n}}</a>

      <hr class="border border-gray-500 />

      {% for locale in locales -%}
        <a class="block px-3 py-2 text-base font-medium text-red-600 rounded-md hover:text-white hover:bg-red-600 focus:outline-none focus:text-white focus:bg-red-700" href="/{{ locale.code }}/{{ pageUrl }}" rel="alternate" hreflang="{{ locale.code }}">
          <img class="w-4 h-4" src="/assets/img/{{locale.icon}}" alt="">
          <span class="ml-2">{{ locale.label | capitalize }}</span>
        </a>
      {% endfor -%}
    </div>
  </div>
</nav>