{% set pageUrl = page
  .url
  .split('/')
  .slice(2)
  .join('/') %}

<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ dir }}">
  <head>
    <title>
      {% block title %}
        {{title}}
      {% endblock %}
    </title>
    <meta charset="UTF-8"/>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
    {% if tags %}
      <meta name=”keywords” content="{{tags}}"/>
    {% else %}
      <meta name=”keywords” content="web development, rails, ruby on rails, blog, web design"/>
    {% endif %}
    <link rel="stylesheet" href="/assets/styles/tailwind.css?v={% version %}"/>
    <link rel="canonical" href="{{site.url}}/en/{{pageUrl}}">
    <meta property="og:locale" content="{{locale}}">
    <meta property="og:title" content="{{title}}">
    <meta property="og:description" content="{{description}}">
    <meta property="og:url" content="{{site.url}}{{page.url}}">
    <meta property="og:site_name" content="Felipe Moyano">
    {% block head %}
      {{ head }}
    {% endblock %}

    {% for locale in locales -%}
      <link rel="alternate" href="{{site.url}}/{{locale.code}}/{{pageUrl}}" hreflang="{{ locale.code }}">
    {% endfor -%}

    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.7.0/dist/alpine.min.js" defer="defer"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="/assets/img/transition_400x.png">
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">

    {% if site.environment === "production" %}
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-8THYF9RS37"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
          dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-8THYF9RS37');
      </script>
      {# <script async="async" defer="defer" data-domain="gafemoyano.com" src="https://plausible.io/js/plausible.js"></script> #}
    {% endif %}
  </head>
  <body class="flex flex-col min-h-screen overflow-x-hidden text-lg antialiased text-gray-800 bg-gray-50 font-body">
    {% include "navbar.njk" %}

    {% block content %}
      {{ content | safe }}
    {% endblock %}

    <div class="mt-20">
      {% include "footer.njk" %}
    </div>
  </body>
</html>