{% extends "layouts/base.njk" %}

{% block head %}
  <meta property="og:type" content="article">
  <meta property="article:published_time" content="{{date | htmlDateString}}">
  <meta property="og:image" content="{{site.url}}{{featured_image}}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:label1" value="Written by">
  <meta name="twitter:data1" value="Felipe Moyano">
{% endblock %}

{% block content %}

  <div class="w-full max-w-3xl px-6 mx-auto md:px-0">
    <h1 class="mt-6 text-2xl font-bold leading-6 md:leading-tight md:text-4xl">{{ title }}</h1>
    <div class="mt-2">
      <div class="inline-flex space-x-2">
        {% for l in locales -%}
          {% if locale == l.code %}
            {% set classNames = "text-red-800 underline hover:bg-gray-100 font-bold" %}
          {% else %}
            {% set classNames = "text-red-600 hover:text-red-800 hover:underline" %}
          {% endif %}
          <a class="{{classNames}}" href="/{{ l.code }}/{{ pageUrl }}" rel="alternate" hreflang="{{ l.code }}">
            {{ l.label | capitalize }}
          </a>
        {% endfor -%}
      </div>
    </div>
    <div class="mt-6 h-96">
      <img class="object-cover object-center w-full h-96" src="{{ featured_image }}" alt="{{ featured_image_alt }}">
      <p class="mt-1 text-sm text-center text-gray-600">
        {{ image_caption | safe }}
      </p>
    </div>
    <div class="mt-12 mb-8 content">
      {{ content | safe }}
    </div>
  </div>

{% endblock %}