---
layout: layouts/base.njk
---

<div class="w-full max-w-2xl px-6 mx-auto md:px-0">
  <h1 class="mt-6 text-2xl font-semibold">{{ title }}</h1>
  <div class="my-8 content">
    {{ content | safe }}
  </div>
</div>