---
locale: "en"
dir: "ltr"
---

{% extends "layouts/base.njk" %}
{% block title %}Felipe Moyano | Articles{% endblock %}
{% block content %}
  <section class="w-full max-w-3xl mx-auto">
    <div class="px-4 mt-6">
      <h1 class="text-4xl font-bold text-gray-900 font-display">
        Articles
      </h1>
      <ul class="mt-2 ml-4 list-disc">
        {%- for post in collections.englishPosts | reverse -%}
          <li class="mt-2">
            <a class="text-lg text-gray-700" href="{{post.url | url}}">{{ post.data.title }}</a>
          </li>
        {%- endfor -%}
      </ul>

      <hr class="mt-16">
      <h2 class="mt-8 text-3xl font-bold text-gray-800 font-display">
        Other stuff I've written
      </h2>
      <ul class="mt-2 ml-4 list-disc">

        <li class="mt-2">
          <a class="text-lg text-gray-700" target="_blank" rel="noopener noreferrer" href="https://www.fullstacklabs.co/blog/building-a-responsive-filter-component-on-react">Building a Responsive Filter Component on React</a>
        </li>
        <li class="mt-2">
          <a class="text-lg text-gray-700" target="_blank" rel="noopener noreferrer" href="https://www.fullstacklabs.co/blog/create-box-component-react-native-styled-system">How to Create a Box Component in React Native with Styled System
          </a>
        </li>
        <li class="mt-2">
          <a class="text-lg text-gray-700" target="_blank" rel="noopener noreferrer" href="https://www.fullstacklabs.co/blog/optimizing-graphql-query-problems-ruby-on-rails">Optimizing GraphQL N+1 query problems in Ruby on Rails</a>
        </li>
      </ul>
    </div>
  </section>
{% endblock %}