---
locale: "en"
dir: "ltr"
title: "Felipe Moyano's writings."
description: "I'm Felipe. I'm a developer who likes building products, teams and traveling."
---

{% extends "layouts/base.njk" %} {% block head %}
<meta property="og:type" content="website" />
{% endblock %} {% block title %}Felipe Moyano | Toughts and Writings{% endblock
%} {% block content %}

<section class="w-full max-w-3xl mx-auto mt-12">
  <div class="px-4 mt-6 content">
    <h2 class="text-4xl font-bold text-gray-900 font-display">About Me</h2>
    <p>
      I'm Felipe. I' like building products, mostly as a developer, but I've
      been a bit all over the place. I love web development and spent some time
      as a startup founder.
    </p>
    <p>
      Currently I'm an engineering lead at <a href="https://trii.co">trii</a> a
      fintech where we're building the greatest investment platform in LatAm.
      Before that I helped kick-off <a href="https://sumz.co">Sumz</a> a company
      focused on helping one of the largest business group in colombia make the
      most out of their data.
    </p>
    <p>
      Before COVID I was a co-founder at Savy, a consumer app looking to bring
      fitness to everyone by introducing dynamic pricing to fitness and welness
      venues. It was a lot of fun and I learnt a lot.
    </p>
    <p>
      I like to build. Sometime's that means software, othertimes it means teams
      or processes. This is the place where I write about those things.
    </p>
    <p>
      If you'd like to talk to me feel free to reach out via
      <a href="https://x.com/gafemoyano">twitter / X</a> or
      <a href="https://bsky.app/profile/gafemoyano.bsky.social">Bluesky</a>.
    </p>
  </div>
</section>

<section class="w-full max-w-3xl mx-auto">
  <div class="px-4 mt-6">
    <h2 class="text-4xl font-bold text-gray-900 font-display">
      Recent Articles
    </h2>
    <ul class="mt-6 ml-4 list-disc">
      {%- for post in collections.englishPosts | head(-6) | reverse -%}
      <li class="mt-2">
        <a class="text-lg text-gray-700" href="{{post.url | url}}"
          >{{ post.data.title }}</a
        >
      </li>
      {%- endfor -%}
    </ul>
  </div>
</section>
{% endblock %}
