---
locale: "en"
dir: "ltr"
---

{% extends "layouts/base.njk" %}
{% block title %}Projects{% endblock %}
{% block content %}
  <div class="flex items-center justify-center -1flex">
    <div>
      <span class="text-change">Good design</span><br/>
      <span class="change">is<br/>as little design<br/>as possible</span>
    </div>
  </div>
{% endblock %}