{% extends "layouts/base.njk" %}
{% block title %}Acerca de mi{% endblock %}
{% block content %}
  <div class="flex items-center justify-center">
    <div>
      <span class="text-change">Buen diseño</span><br/>
      <span class="change">es
        <br/>tan poco diseñó como sea posible blah blhadesign<br/>as possible</span>
    </div>
  </div>
{% endblock %}