---
locale: "es"
dir: "ltr"
---

{% extends "layouts/base.njk" %}
{% block title %}Felipe Moyano | Artículos{% endblock %}
{% block content %}
  <section class="w-full max-w-3xl mx-auto">
    <div class="px-4 mt-6 py-12">
      <h1 class="text-4xl font-bold text-gray-900 font-display">
        Artículos
      </h1>

      <div class="mt-12 space-y-6">
        {%- for post in collections.spanishPosts | reverse -%}
        <a href="{{ post.url | url }}" class="group block font-normal">
          <div class="flex flex-col sm:flex-row gap-3 sm:gap-6 items-start p-4 -mx-4 rounded-2xl transition-all duration-300 hover:bg-white hover:shadow-lg hover:shadow-gray-200/50">
            <div class="sm:w-28 shrink-0 flex flex-col gap-3">
              {% if post.data.featured_image %}
                <div class="overflow-hidden rounded-lg aspect-video w-full">
                  <img src="{{ post.data.featured_image }}"
                       alt="{{ post.data.featured_image_alt }}"
                       class="w-full h-full object-cover"
                       loading="lazy">
                </div>
              {% endif %}
              <time class="text-sm font-mono text-gray-500 group-hover:text-gray-800 transition-colors">
                {{ post.data.date | readableDate }}
              </time>
            </div>

            <div class="flex-1">
              <h3 class="font-body text-xl font-bold text-gray-800 group-hover:text-lime-700 transition-colors mb-2" style="text-box-trim: trim-both; text-box-edge: cap alphabetic;">
                {{ post.data.title }}
              </h3>

              {% if post.data.description %}
              <p class="font-sans text-gray-600 leading-relaxed line-clamp-2 font-sans">
                {{ post.data.description }}
              </p>
              {% endif %}
            </div>
          </div>
        </a>
        {%- endfor -%}
      </div>
    </div>
  </section>
{% endblock %}
