---
locale: "es"
dir: "ltr"
title: "Escritos de Felipe Moyano."
description: "Soy Felipe. Soy muy apasionado por construir productos, desarrollo web y viajar. A veces escribo sobre estas cosas."
---

{% extends "layouts/base.njk" %} {% block head %}
<meta property="og:type" content="website" />
{% endblock %} {% block title %}Felipe Moyano | Pensamientos y Escritos{%
endblock %} {% block content %}

<section class="w-full max-w-3xl mx-auto mt-12">
  <div class="px-4 mt-6 content">
    <h2 class="text-4xl font-bold text-gray-900 font-display">Acerca</h2>
    <p>
      Hola, soy Felipe. Principalmente me dedico a desarrollar productos de
      tecnología, especialmente en desarrollo web pero he pasado por muchas
      industrias, roles y tecnologías. También fundé Savy, una startup con la
      misión de acercar servicios de fitness y wellness a los consumidores, que
      murió durante el Covid.
    </p>
    <p>
      Hoy soy un líder de ingeniería en
      <a href="https://trii.com">trii</a>, una fintech colombiana donde estamos
      construyendo la plataforma de inversión más grande de América Latina.
    </p>
    <p>
      Me gusta construir. A veces eso significa software, otras veces significa
      equipos o procesos. Este es el lugar donde escribo sobre esas cosas. Si
      quieres contactarme no dudes en enviarme un DM en
      <a href="https://x.com/gafemoyano">twitter - X</a>
      o en
      <a href="https://bsky.app/profile/gafemoyano.bsky.social">Bluesky</a>.
    </p>
  </div>
</section>

<section class="w-full max-w-3xl mx-auto">
  <div class="px-4 mt-6">
    <h2 class="text-4xl font-bold text-gray-900 font-display">
      Artículos Recientes
    </h2>
    <ul class="mt-6 ml-4 list-disc">
      {%- for post in collections.spanishPosts | head(-6) | reverse -%}
      <li class="mt-2">
        <a class="text-lg text-gray-700" href="{{post.url | url}}"
          >{{ post.data.title }}</a
        >
      </li>
      {%- endfor -%}
    </ul>
  </div>
</section>
{% endblock %}
