{% extends "layouts/base.njk" %}
{% block title %}Felipe Moyano | Web Developer. Personal site and Blog{% endblock %}
{% block content %}
  <section class="hero-background" style="height: 30vh; min-height: 200px;">
    <div class="w-full h-full max-w-6xl mx-auto">
      <div class="flex flex-col items-center justify-center h-full px-2">
        <h1 class="max-w-lg text-4xl font-bold leading-none text-center text-red-600 md:text-6xl font-display">
          Hi I'm Felipe!
        </h1>
        <h2 class="max-w-xl mt-6 text-lg font-bold leading-6 text-center text-gray-800 md:leading-8 md:text-2xl">
          I like to move in the space between building products, writing code and creating awesome engineering teams.
        </h2>
      </div>
    </div>
  </section>

  <section class="w-full max-w-2xl mx-auto">
    <div class="px-4 mt-6 content">
      <h2 class="text-4xl font-bold text-gray-900 font-display">
        Welcome!
      </h2>
      <p>
        My name is Felipe. I'm a software engineer, web developer and entrepreneur.
      </p>
      <p>
        I spent my last couple of years building
        <a href="https://savy.co">Savy</a>, a Fitness and wellness marketplace that aimed to provide maximum flexibility to users and gyms by charging hourly based on a simple demand/offer model. Unfurtunately, due to COVID-19 we were forced to shut down.
      </p>
      <p>
        This website is were I plan to share some of the things I learnt about building a product, being a developer, managing a team and starting a company in Colombia.
      </p>
      <p>
        This site will also be a learning experience and as a playground to try out new things and share new thoughts along the way.
      </p>
      <p>
        Thank you for reading, I hope you enjoy the content here. If you want to reach out to me feel free to DM on
        <a href="https://twitter.com/gafemoyano">twitter</a>
        or subscribe to get notifications when I post new things.
      </p>
    </div>
  </section>

  <section class="w-full max-w-2xl mx-auto">
    <div class="px-4 mt-6">
      <h2 class="text-4xl font-bold text-gray-900 font-display">
        Recent Articles
      </h2>
      <ul class="mt-2 ml-4 list-disc">
        {%- for post in collections.post | head(-3) | reverse -%}
          <li class="mt-2">
            <a class="text-lg text-gray-700" href="{{post.url | url}}">{{ post.data.title }}</a>
          </li>
        {%- endfor -%}
      </ul>
    </div>
  </section>
{% endblock %}