{% extends "layouts/base.njk" %}
{% block title %}Felipe Moyano | Web Developer. Personal site and Blog{% endblock %}
{% block content %}
  <div class="hero-background" style="height: 30vh; min-height: 200px;">
    <div class="w-full h-full max-w-6xl mx-auto">
      <div class="flex flex-col items-center justify-center h-full px-2">
        <h1 class="max-w-lg text-4xl font-bold leading-none text-center text-red-600 md:text-6xl font-display">
          Hi I'm Felipe!
        </h1>
        <h2 class="max-w-xl mt-6 text-lg font-bold leading-6 text-center text-gray-800 md:leading-8 md:text-2xl">
          This is the space where I write about web development, product strategy and startups.
        </h2>
      </div>
    </div>
  </div>
{% endblock %}