{% extends "layouts/base.njk" %}
{% block title %}It does work{% endblock %}
{% block content %}
  <div class="fixed inset-0 flex items-center justify-center">
    <div>
      <span class="text-change">Good design</span><br/>
      <span class="change">is<br/>as little design<br/>as possible</span>
    </div>
  </div>
{% endblock %}