@layer components {
  a {
    font-weight: var(--font-weight-medium);
    color: var(--color-gray-900);

    &:hover,
    &:focus {
      color: var(--color-lime-700);
    }
  }

  .content {
    font-size: var(--text-base);
    line-height: var(--leading-relaxed);
    color: var(--color-gray-800);

    > * + *:not(:first-child) {
      margin-top: calc(var(--spacing) * 4);
    }

    h2 {
      font-size: var(--text-xl);
      font-weight: var(--font-weight-bold);
      line-height: calc(var(--spacing) * 5);
    }

    h3 {
      font-size: var(--text-lg);
      font-weight: var(--font-weight-bold);
      line-height: calc(var(--spacing) * 4);
    }

    a {
      color: var(--color-lime-700);
      text-decoration: underline;
    }

    ul {
      padding-left: calc(var(--spacing) * 6);
      list-style-type: disc;

      li {
        margin-bottom: calc(var(--spacing) * 2);
      }
    }

    ol {
      padding-left: calc(var(--spacing) * 6);
      list-style-type: decimal;
    }

    strong {
      background: linear-gradient(
        60deg,
        rgba(207, 212, 217, 0.45) 0%,
        rgba(207, 212, 217, 0.05) 100%
      );
      box-decoration-break: clone;
      display: inline-block;
      padding-left: calc(var(--spacing) * 1);
      padding-right: calc(var(--spacing) * 1);
      border-radius: var(--radius-sm);
    }

    .footnotes {
      font-size: var(--text-sm);
    }
  }

  @media (min-width: 768px) {
    .content {
      font-size: var(--text-lg);
      line-height: var(--leading-loose);

      > * + *:not(:first-child) {
        margin-top: calc(var(--spacing) * 6);
      }

      h2 {
        font-size: var(--text-3xl);
        line-height: calc(var(--spacing) * 9);
      }

      h3 {
        font-size: var(--text-2xl);
        font-weight: var(--font-weight-bold);
      }
    }
  }
}
