@import "tailwindcss";

@import "./typography.css";

@theme {
  --font-display: "Kanit", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-body: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  
  --color-gray-50: #f9fafb;
  
  --spacing-72: 18rem;
  --spacing-84: 21rem;
  --spacing-96: 24rem;
  --spacing-128: 32rem;
}

@import "./components.css";
